<!DOCTYPE html>
<html lang="en-NZ">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0" />

	<title>Lawrence Tranter - Web Developer</title>

	<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
	<script type="text/javascript" src="/static/js/bundle.min.js"></script>
</head>

<body>
	<section id="page">
		<header>
		</header>

		<main>
		</main>

		<footer>
		</footer>
	</section>

	<ux-editor></ux-editor>
	<ux-scroll-top></ux-scroll-top>
</body>

</html>