<div class="ux-editor" id="_uid">
	<div class="ux-editor-btn edit">
		<ux-icon type="edit"></ux-icon>
	</div>
	<div class="ux-editor-btn layout">
		<ux-icon type="layout"></ux-icon>
	</div>
	<div class="ux-editor-btn delete">
		<ux-icon type="delete"></ux-icon>
	</div>
</div>